<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Typer App</title>

    <meta name="importmap-type" content="systemjs-importmap" />

    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
        }
      }
    </script>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
    />

    <script
      type="systemjs-importmap"
      src="https://cicerohen-typer-app.s3.amazonaws.com/import-maps/importmap-prod.json"
    ></script>

    <% if (isLocal) { %>
    <script type="systemjs-importmap" src="/importmap.json"></script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>

    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div class="flex overflow-x-hidden">
      <div id="sidebar"></div>
      <div class="flex flex-1 flex-col min-h-screen">
        <div id="header"></div>
        <div id="main" class="flex flex-1 flex-col"></div>
        <div id="footer"></div>
      </div>
    </div>
    <script>
      System.import("@typer/root-config");
      System.import("@typer/styleguide");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
