name: AWS
on:
  push:
    branches:
      - master
env:
  BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
  DEPLOYER_USERNAME: ${{ secrets.DEPLOYER_USERNAME }}
  DEPLOYER_PASSWORD: ${{ secrets.DEPLOYER_PASSWORD }}
  PUBLIC_URL: ${{ secrets.PUBLIC_URL }}
  DEPLOYER_URL: ${{ secrets.DEPLOYER_URL }}
  DEPLOYER_ENV: "prod"
jobs:
  deploy:
    name: Deploy to S3
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Setup NodeJS/Yarn
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Deploy
        run: chmod +x ./scripts/deploy.sh && yarn deploy
